.vacancy__item {
  width: calc(33.33% - 30px);
  margin: 30px 15px;
  background: var(--vacancyItemBackground);
  border-radius: 6px;
  padding: 32px;
  padding-top: 49px;
  position: relative;
}

.vacancy__item-date {
  margin-bottom: 16px;
  color: var(--mainTextColor);
  pointer-events: none;
}

.vacancy__item-time {
  margin-right: 6px;
}

.vacancy__item-text {
  margin-right: 12px;
}

.vacancy__item-chart {
  padding-left: 16px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--mainTextColor);
  }
}

.vacancy__item-title {
  margin-bottom: 17px;
  font-weight: 700;
  color: var(--titleColor);
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: var(--mainTextColor);
  }
}

.v-router {
  text-decoration: none;
}

.vacancy__item-employer {
  margin-bottom: 44px;
  color: var(--mainTextColor);
  pointer-events: none;
}

.vacancy__item-employer-location {
  font-weight: 700;
  color: var(--vacancyEmployerLocationColor);
  font-size: 14px;
  line-height: 14px;
  pointer-events: none;
}

.vacancy__item-icon {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -25px;
  left: 32px;
}

.vacancy__item-icon-bg-scott {
  background: #e99210;
}

.vacancy__item-icon-bg-blogr {
  background: #e54d25;
}

.vacancy__item-icon-bg-vector {
  background: #34353f;
}

.vacancy__item-icon-bg-office-light {
  background: #2f4fc7;
}

.vacancy__item-icon-bg-pod {
  background: #132034;
}

.vacancy__item-icon-bg-creative {
  background: #4e1853;
}

.vacancy__item-icon-bg-pomodoro {
  background: #4722c6;
}

.vacancy__item-icon-bg-maker {
  background: #21427d;
}

.vacancy__item-icon-bg-coffee {
  background: #f2decb;
}

.vacancy__item-icon-bg-mastercraft {
  background: #1f1f1f;
}

.vacancy__item-icon-bg-crowdfund {
  background: #37c790;
}

.vacancy__item-icon-bg-typemaster {
  background: #f16718;
}

@media (max-width: 950px) {
  .vacancy__item {
    width: calc(50% - 12px);
    margin: 30px 6px;
  }
}

@media (max-width: 550px) {
  .vacancy__item {
    width: 100%;
    margin: 25px 0;
  }
}
