.footer {
  margin-top: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 23px;
  padding-bottom: 25px;
  width: 100%;
  background: var(--footerBackground);
}

.footer__container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__vacancy {
  padding-right: 10px;
  max-width: 300px;
}

.footer__vacancy-title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  color: var(--titleColor);
}

.footer__company-title {
  color: var(--mainTextColor);
}

.footer__button {
  color: var(--buttonColor);
  background: var(--buttonBackgroundColor);
  width: 141px;
  height: 48px;
  border-radius: 5px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: 48px;
  transition: 0.3s;

  &:hover {
    background: var(--buttonHoverBackground);
  }
}

@media (max-width: 550px) {
  .footer {
    padding: 24px;
  }

  .footer__container {
    justify-content: center;
  }

  .footer__vacancy {
    display: none;
  }

  .footer__button {
    width: 100%;
  }
}
