@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import './themes.scss';
@import './footer.scss';
@import './vacancyList/vacancy.scss';
@import './vacancyList/vacancyFilters.scss';
@import './vacancyList/vacancyList.scss';
@import './vacancyList/vacancyItem.scss';
@import './vacancyList/vacancyButton.scss';
@import './vacancyDescription/description.scss';
@import './vacancyDescription/descriptionContent.scss';
@import './vacancyDescription/descriptionHeader.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

#app {
  min-height: 100vh;
  background: var(--bodyBackground);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.position-fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.v-tansparent {
  opacity: 0;
}
