@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import './themes.scss';
@import './footer.scss';
@import './vacancyList/vacancy.scss';
@import './vacancyList/vacancyFilters.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

#app {
  min-height: 100vh;
  background: var(--bodyBackground);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
